{%macro datos(name,placeholder,type="text") %} # Si no se pasa el parámetro type es 'text' por defecto
    <label for="name">{{name}}:</label>
    <p><input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"><br></p> #Para que la macro funcione se debe de encerrar en alguna etiqueta html
{%endmacro%}

{%macro camposNuevos(field) %} 
    <td>{{field.label}}</td>
    <dd>{{field() | safe}}</dd>



    {%if field.errors%}
    <ul>
        {%for error in field.errors%}
        <li>{{error}}</li>
        
    </ul>
{%endmacro%}
